<h4 class="py-3 mb-4"><span class="text-muted fw-light">Menú /</span> Usuario</h4>
<!-- <form action="/administracion/usuario/generar-usuarios" method="post">
    <button type="submit">Generar Usuarios y Descargar CSV</button>
</form> -->

<div id="tablaRegistro"></div>

<div class="modal fade" id="modalFormularioUsuario" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="contenidoModalUsuario"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        cargarTabla();

    });

    function cargarTabla() {
        $.ajax({
            type: 'POST',
            url: "/administracion/usuario/tabla-registros",  // Ruta del metodo del controlador en Spring Boot
            success: function (response) {
                $("#tablaRegistro").html(response);  // Actualiza el contenido del div con la respuesta del servidor
            }
        });
    }
    function cargarFormulario() {
        cargarFormularioAlert("/administracion/usuario/formulario", "#contenidoModalUsuario", "#formularioUsuario");
    }

    function cargarFormularioEdit(id) {
        cargarFormularioEditAlert(id, "/administracion/usuario/formulario-edit", "#contenidoModalUsuario", "#formularioUsuario");
    }

    function eliminar(nombre, id) {
        eliminarRegistroAlert(nombre, id, "/administracion/usuario/eliminar",cargarTabla);
    }
</script>