<!-- Menu -->
<aside th:fragment="sidebar" id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
                        fill="#186dde" />
                    <path opacity="0.06" fill-rule="evenodd" clip-rule="evenodd"
                        d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z" fill="#161616" />
                    <path opacity="0.06" fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z" fill="#161616" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
                        fill="#186dde" />
                </svg>
            </span>
            <span class="app-brand-text demo menu-text fw-bold">UAP</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
            <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
        </a>
    </div>

    <ul class="menu-inner py-1">
        <!-- VISTA ADMINISTRADOR Y SUPER USUARIO -->
        <li class="menu-header small text-uppercase" th:if="${session.nombre_rol == 'ADMINISTRADOR'}">
            <span class="menu-header-text">ADMINISTARCIÓN</span>
        </li>
        <li class="menu-item" id="opcion_admin" th:if="${session.nombre_rol == 'ADMINISTRADOR'}">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-users"></i>
                <div>Administrar Usuarios</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" id="opcion_rol">
                    <a class="menu-link">
                        <div>Rol</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_persona">
                    <a class="menu-link">
                        <div>Persona</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_usuario">
                    <a class="menu-link">
                        <div>Usuario</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_responsable">
                    <a class="menu-link">
                        <div>Responsables</div>
                    </a>
                </li>
            </ul>
        </li>
        <!-- COMPLEMENTOS -->
        <li class="menu-header small text-uppercase" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
            <span class="menu-header-text">COMPLEMENTOS</span>
        </li>
        <li class="menu-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-users"></i>
                <div>Administrar Complementos</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" id="opcion_contable">
                    <a class="menu-link">
                        <div>Grupo Contable</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_auxiliar">
                    <a class="menu-link">
                        <div>Auxiliar</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_of">
                    <a class="menu-link">
                        <div>Organismo Financiador</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_estadoA">
                    <a class="menu-link">
                        <div>Estado del Activo</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-users"></i>
                <div>Ambito Geografico</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" id="opcion_entidad">
                    <a class="menu-link">
                        <div>Entidad</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_municipio">
                    <a class="menu-link">
                        <div>Municipio</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_predio">
                    <a class="menu-link">
                        <div>Predio</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_oficina">
                    <a class="menu-link">
                        <div>Oficinas </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-header small text-uppercase" th:if="${session.nombre_rol == 'ADMINISTRADOR'}">
            <span class="menu-header-text">GESTION</span>
        </li>
        <li class="menu-item" th:if="${session.nombre_rol == 'ADMINISTRADOR'}">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-users"></i>
                <div>Seguimientos</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" id="opcion_aan">
                    <a class="menu-link">
                        <div>Asignaciones</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_ta">
                    <a class="menu-link">
                        <div>Transferencias</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_iaa">
                    <a class="menu-link">
                        <div>Ingresos</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_iaa">
                    <a class="menu-link">
                        <div>Bajas</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-header small text-uppercase" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
            <span class="menu-header-text">Gestion Activos</span>
        </li>
        <li class="menu-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-users"></i>
                <div>Administración activos</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" id="opcion_activo">
                    <a class="menu-link">
                        <div>Registro activos</div>
                    </a>
                </li>
            </ul>
        </li>
        
        <li class="menu-header small text-uppercase" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO' or session.nombre_rol == 'RESPONSABLE'}">
            <span class="menu-header-text">Gestion Responsable</span>
        </li>
        
    </ul>
</aside>
<!-- / Menu -->