<h4 class="py-3 mb-4"><span class="text-muted fw-light">Menú /</span> gaseta</h4>

<div id="tablaRegistro"></div><br>
<div id="tablaRegistro1"></div>

<div class="modal fade" id="modalformularioGaseta" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="contenidoModalGaseta"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        cargarTabla();
        cargarTabla1()

    });

    function cargarTabla() {
        $.ajax({
            type: 'POST',
            url: "/administracion/inscripcion/resumen/tabla-categorias",  // Ruta del metodo del controlador en Spring Boot
            success: function (response) {
                $("#tablaRegistro").html(response);  // Actualiza el contenido del div con la respuesta del servidor
            }
        });
    }

    function cargarTabla1() {
        $.ajax({
            type: 'POST',
            url: "/administracion/inscripcion/resumen/tabla-entidades",  // Ruta del metodo del controlador en Spring Boot
            success: function (response) {
                $("#tablaRegistro1").html(response);  // Actualiza el contenido del div con la respuesta del servidor
            }
        });
    }

    function cargarFormulario() {
        cargarFormularioAlert("/administracion/gaseta/formulario", "#contenidoModalGaseta", "#formularioGaseta");
    }

    function cargarFormularioEdit(id) {
        cargarFormularioEditAlert(id, "/administracion/gaseta/formulario-edit", "#contenidoModalGaseta", "#formularioGaseta");
    }

    function eliminar(nombre, id) {
        eliminarRegistroAlert(nombre, id, "/administracion/gaseta/eliminar",cargarTabla);
    }
</script>